Djaxis (Django Praxis) :) </br>
<a href="about">About Us?</a> </br>
<form method="POST">
    {% csrf_token %}
    Username
    <input type="text" name="username"/>
    pasword
    <input type="text" name="pasword"/>
    confirm password
    <input type="password" name="confirm_pasword"/>
    <button type="submit">submit</button>
</form>
<div>
    <table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>action</th>
    </tr>
    {% for d in list_tugas %}
    <tr>
        <td>{{ d.pk }}</td>
        <td>{{ d.name }}</td>
        <td>
            <a href="update/{{ d.pk }}">update</a> 
            <a href="delete/{{ d.pk }}">delete</a> 
        </td>
    </tr>
    {% endfor %}    
    </table>
    
</div>